Source: elasticsearch
Section: net
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Ian Eure <ian@simplegeo.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.elasticsearch.org/

Package: elasticsearch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, jsvc
Description: A Distributed RESTful Search Engine
 ElasticSearch is a distributed RESTful search engine built for the cloud.
